{% extends "core/base.html" %}

{% load static %}


{% block title %}
 About the Project
{% endblock %}

{% block content %}
<div class="container">
<p align="justify" >ZooBi(bli)oArch is a bibliographic database for animal bioarchaeological studies in the Eastern Mediterranean and Middle East (EMME), 
chronologically covering skeletal assemblages from prehistory to early modern times. 
This database was based on the Bi(bli)oArch initiative (https://www.biblioarch.com/) and emerged from the fact that many studies 
on faunal remains in the region have been published in national archaeology journals, excavation monographs, ‘grey’ reports, or 
as graduate theses, making them difficult to find, especially by international scholars. A further complicating factor is that 
many relevant studies have been published in the national languages of the region, hence they do not appear during any basic online
 search in English. ZooBi(bli)oArch aims at overcoming these limitations and promoting bioarchaeological research in the EMME by making
  zooarchaeological papers and reports more easily discoverable.</p>
<p align="justify" >
The database allows search by region and theme. The regional search adopts modern-day national borders, while acknowledging that these borders had little to no meaning in the past. For simplicity, the term Levant has been adopted to jointly denote countries along the Levantine coast and Jordan, while Arabian Peninsula has been used to capture Bahrain, Kuwait, Oman, Qatar, Saudi Arabia, the United Arab Emirates, and Yemen. The thematic division of the entries uses the following broad bioarchaeological themes:
</p>

    <li>Ancient DNA </li>
	<li>Animal Management</li>
	<li>Ageing</li>
	<li>Biometry</li>
	<li>Butchery</li>
	<li>Dietary Reconstruction</li>
	<li>Palaeoenvironmental Reconstruction</li>
	<li>Experimental</li>
	<li>Isotopes</li>
	<li>Mobility</li>
	<li>No Keyword</li>
	<li>Palaeopathology</li>
	<li>Seasonality</li>
	<li>Sexing</li>
	<li>Taphonomy</li>
    <br>
<p align="justify" >
If no search terms are input, all available titles will be given in the output list. Even though every effort has been made to access all works listed in the database, in certain cases this was not possible. In such cases, the papers have been tagged as ‘No Region’ or ‘No Keyword’ unless the region and/or theme were clear from the publication title. 

The ZooBi(bli)oArch database currently contains BLANK titles and will be continuously updated. We would be deeply grateful if you could contact us in order to bring to our attention corrections and omissions so that ZooBi(bli)oArch evolves into a cooperative initiative. To stress this communal philosophy, ZooBi(bli)oArch is a free tool and all content is distributed under the terms of a Creative Commons license (CC BY-NC-SA 4.0). 
</p>
<p align="justify" >
Development of the Bi(bli)oArch database was supported by the European Regional Development Fund and the Republic of Cyprus through the Research and Innovation Foundation [grant number: EXCELLENCE/0421/0376].

</div>

{% endblock %}