	
{% extends 'core/base.html' %}
{% load static %}


  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
{% block title %}

    <h1> {{bundle.name}}</h1>
    <br>
    <h1> {{bundle.description | safe }} </h1>
   
    
   
   


 {% endblock %}

<!-- Body -->

{% block content %}
<h3> Items Found in this Collection {{items_count}}</h3>
<br>
 <div class="container text-center">



<div class="container text-center">

{% for x in items %}
{% if forloop.counter0|divisibleby:2 %} <div class="row"> {% endif %}
 <div class="card" style="width: 36rem;">

   {% if x.image_one %}
  <img class="card-img-top" src="{{x.image_one.url}}" alt="image" width=658px, height=567px class="responsive">
 
  {% endif %}
  <div class="card-body">
   
    <h5 class="card-title">{{x.title}}</h5>
      {% if x.date %}
    <h5 class="card-title">{{x.date}}</h5>
      {% endif %}
  
    <br>
    <br>
    <div class="position-absolute bottom-0 start-50 translate-middle-x ">
    <a href="{{x.slug}}" class="button alt">Read More</a>
    </div>

  </div>
</div>

{% if forloop.counter|divisibleby:2 or forloop.last %}</div><br>
{% endif %}



{% endfor %}

<script type="application/ld+json">
{
       "@context": "https://schema.org",
       "@type": ["CreativeWork","Collection"],
       "collectionSize": "{{items_count}}",
       "name":"{{bundle.name}}",
       "image":"{{bundle.photo}}",
       "description":"{{bundle.description}}",
       "sameAs": "{{bundle.sameAs}}",
       "url": "{{bundle.slug}}",

        {% for x in place %}
        "copyrightHolder":"{{x.name}}",
        "publisher":"{{x.name}}",
        "isPartOf" : "{{x.name}}"
       
        {% endfor %}
     
}

</script>
{% endblock %}




