{% load static %}

<!DOCTYPE HTML>

<html>
	<head>
		<title>CyprusArk</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css'%}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
			  {% for x in place %}
				<div class="logo"><img src="{{x.logo.url}}" class="img-fluid img-thumbnail" alt="image" width=60px, height=60px class="responsive"></div>
			  {% endfor %}
				
				<a href="#menu">Menu</a>
		

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/">Collections</a></li>
					<li><a href="/">Collections Items</a></li>
				</ul>
			</nav>
		
	       </header>
		<!-- Banner images for slider model -->
   
		   <section class="banner full">
             {% for slide in slider %}
				<article>
					<img src="{{slide.slider_image.url}}" alt="" />
					
					<div class="inner">
						<header>
						<div class="container">
						
						 <p>{{slide.slider_description|safe}}</p>

						 <h2>{{slide.title}}</h2>
						 <button type="button" class="btn btn-secondary">Read More</button>
						</header>
					</div>
					</div>
				</article>
                {% endfor %}
            </section>
  <br>
  <br>
      <div class="container">
            {% for x in place %}
           <!--  <div><img src="{{x.logo.url}}" class="img-fluid img-thumbnail" alt="image" width=158px, height=100px class="responsive"></div> -->
			<h3>{{x.name}}</h3>
			   
			
			
			Phone:{{x.phone}}<br>
		
			Working Hours{{x.working_hours}}<br>

			{{x.sameAs}}
			<br>
			{% if x.city %}
			{{x.city}}
			{% endif %}
			<br>
			{{x.country}}
			<br>
			{{x.address}}
		    <br>
			{% if x.logo %}

			
			{{x.description|safe}}
			
			{% endif %}	
			{% endfor %}

	

	   </div>
	   <br>
       <br>
		<!-- One -->
       
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">
                 
                    {% for x in  bundle %}
					
						<div>
							<div class="box">
								<div class="image fit">
									{% if x.photo %}
									<img class="card-img-top" src="{{x.photo.url}}" alt="image" width=658px, height=700px class="responsive">
									
									{% endif %}
								</div>
								<div class="content">
									<header class="align-center">
										<p> Collection</p>
										<h2>{{x.name}}</h2>
										
									</header>
									<p>{{x.description |safe|truncatewords:100}}</p>
									<footer class="align-center">
										<a href="{{x.slug}}" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>

					{% endfor %}
			</section>
			

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Power by</p>
						<h2> CyprusArk</h2>
					</header>
				</div>
			</section>

		<!-- Three -->


		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; CyprusArk. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js'%}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js'%}"></script>
			<script src="{% static 'assets/js/skel.min.js'%}"></script>
			<script src="{% static 'assets/js/util.js'%}"></script>
			<script src="{% static 'assets/js/main.js'%}"></script>

	</body>
</html>

<script type="application/ld+json">
{
        "@context": "https://schema.org",
		{% for x in place %}

		{% if x.classification %}
        "@type": ["{{x.classification}}"],
		    {% endif %}
		{% if x.name %}
        "name": "{{x.name}}",
		{% endif %}

		{% if x.working_hours %}
		"workHours":
		
			"{{x.working_hours}}",	
		
		{% endif %}
       
	    "address": {
                "@type": "PostalAddress",

                "addressLocality": "{{x.city}}",
                "addressCountry": "{{x.country}}"
        },
		"logo": "{{x.logo.url}}",
		
        "telephone": "{{x.phone}}",
		
        "description": "{{x.description }}",
	
		"sameAs":"{{x.sameAs}}",
		
		"url": " {{ request.build_absolute_uri }}",

		"hasPart":{
                "@type": "Collection",
		       {% for x in  bundle %}

				 "name": "{{x.name}}",
				
		       {% endfor %}	

        }
}
{% endfor %}
</script>