#header{
    height: 90px;
    background: black;
    color: white;

}
#branding h1 {

    color: white;
}

a:link, a:visited {
    color: rgb(107, 60, 9);
    font-size: 17px;
    text-decoration: none;
    transition: color 0.15s, background 0.15s;
  }

.module caption, .inline-group h2 {
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: lowercase;
    color:white;
    background: black;
  }

div.breadcrumbs {
    background-color: black;
}

#changelist-filter h2 {
  
  background-color: black;
}
#recent-actions-module {
 display: none;
}
#nav-sidebar .current-app .section:link, #nav-sidebar .current-app .section:visited {
  color: black;
  font-weight: bold;
}